body{
  background-color: #f1eef1;
}

/* semantic-ui related css */
.ui.fluid.container{
  padding-top: 10px;
  margin-top: 90px;
  margin-bottom: 20px;
  text-align: center;
  overflow: hidden;
  background-color: white;
  width: 90%;
  -moz-box-shadow: 3px 3px 3px #ccc;
  -webkit-box-shadow: 3px 3px 3px #ccc;
  box-shadow: 3px 3px 3px #ccc;
}

.ui.input{
  top: 18%;
}

.ui.search{
  width: 50%;
}

.ui.icon.input{
  width: 100%;
}

.ui.icon.input>input {
    padding-right: 30%!important;
}

.ui.menu .item>i.icon{
  margin: 0;
}

.ui.dropdown .menu>.item .dropdown.icon {
 float: none !important;
}

.ui.dropdown .menu .item .dropdown.icon:before{
  content: '\f0d7'
}

/* App specific css */
p.viewer-count{
  float: right;
  color: red;
}

img.viewer-count{
  float: right;
  height: 4%;
  width: 4%;
}

.centered-search{
  left: 3%;
}

.emoji-mart-opener{
  font-size: 25px;
  cursor: pointer;
}

.emoji-mart-tooltip{
  pointer-events: auto !important;
}

/* React-tooltip css */
.__react_component_tooltip.show{
  opacity: 1;
}
